<ng-container *ngIf="readonly; else field">
  <dvd-field-readonly
    [label]="label"
    [value]="value | date: 'yyyy/MM/dd'"
  ></dvd-field-readonly>
</ng-container>

<ng-template #field>
  <div class="component-margin-horizontal" [style.width]="getWidth()">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>{{ label }}</mat-label>
      <input
        #input="ngModel"
        matInput
        [matDatepicker]="picker"
        [ngModel]="value"
        (ngModelChange)="onChangeValue($event)"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [required]="required"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="input.errors?.required"> 入力してください。 </mat-error>
    </mat-form-field>
  </div>
</ng-template>
