<ng-container *ngIf="readonly; else field">
  <dvd-field-readonly
    label=""
    [value]="label"
    [lineThrough]="value == null || value == false"
  ></dvd-field-readonly>
</ng-container>

<ng-template #field>
  <div
    class="component-margin-horizontal component-padding-vertical"
    [style.width]="getWidth()"
  >
    <mat-slide-toggle
      #input="ngModel"
      [ngModel]="value"
      (ngModelChange)="onChangeValue($event)"
      [disabled]="disabled"
      >{{ label }}</mat-slide-toggle
    >
  </div>
</ng-template>
