<ng-container *ngIf="readonly; else field">
  <dvd-field-readonly
    label=""
    [value]="label"
    [lineThrough]="value == null || value == false"
  ></dvd-field-readonly>
</ng-container>

<ng-template #field>
  <div class="component-margin-horizontal" [style.width]="width">
    <div class="component-padding-vertical" style="width: 100%">
      <mat-slide-toggle
        #input="ngModel"
        [ngModel]="value"
        (ngModelChange)="onChangeValue($event)"
        [disabled]="disabled"
        >{{ label }}</mat-slide-toggle
      >
    </div>
  </div>
</ng-template>
