<div class="page">
  <h1>Sample Form</h1>
  <dvd-row>
    <dvd-column>
      <dvd-field-text
        label="文字列"
        placeholder="入力してください"
        name="sample.text"
        [(value)]="sample.text"
        [required]="true"
      ></dvd-field-text>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-textarea
        label="長い文字列"
        placeholder="入力してください"
        name="sample.longText"
        [(value)]="sample.longText"
      ></dvd-field-textarea>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-number
        label="数値"
        placeholder="入力してください"
        name="sample.number"
        [(value)]="sample.number"
      ></dvd-field-number>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-switch
        label="真偽値"
        [(value)]="sample.bool"
      ></dvd-field-switch>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-date
        label="日付"
        [(value)]="sample.dateVal"
      ></dvd-field-date>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-select
        label="ドロップダウン"
        [options]="master"
        optionLabelProperty="text"
        optionValueProperty="code"
        [(value)]="sample.selectVal"
      ></dvd-field-select>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-button color="accent" label="save" (click)="save()"></dvd-button>
    </dvd-column>
  </dvd-row>
</div>
