<div class="page">
  <h1>Sample Form</h1>
  <dvd-row>
    <dvd-column>
      <dvd-field-text
        label="文字列"
        placeholder="入力してください"
        name="sample.fieldText"
        [(value)]="sample.fieldText"
        [required]="true"
      ></dvd-field-text>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-textarea
        label="長い文字列"
        placeholder="入力してください"
        name="sample.fieldTextarea"
        [(value)]="sample.fieldTextarea"
      ></dvd-field-textarea>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-number
        label="数値"
        placeholder="入力してください"
        name="sample.fieldNumber"
        [(value)]="sample.fieldNumber"
      ></dvd-field-number>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-switch
        label="真偽値"
        [(value)]="sample.fieldSwitch"
      ></dvd-field-switch>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-date
        label="日付"
        [(value)]="sample.fieldDate"
      ></dvd-field-date>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-select
        label="ドロップダウン"
        [options]="master"
        optionLabelProperty="name"
        optionValueProperty="code"
        [(value)]="sample.fieldSelect"
      ></dvd-field-select>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-radio
        label="ラジオ"
        [options]="master"
        optionLabelProperty="name"
        optionValueProperty="code"
        [(value)]="sample.fieldRadio"
      ></dvd-field-radio>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-button color="accent" label="save" (click)="save()"></dvd-button>
    </dvd-column>
  </dvd-row>
</div>
