<div class="page">
  <h1>Sample Form</h1>
  <dvd-row>
    <dvd-column>
      <dvd-input-text
        label="文字列"
        placeholder="入力してください"
        [(value)]="sample.text"
        [required]="true"
      ></dvd-input-text>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-input-textarea
        label="長い文字列"
        placeholder="入力してください"
        [(value)]="sample.longText"
      ></dvd-input-textarea>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-input-number
        label="数値"
        placeholder="入力してください"
        [(value)]="sample.number"
      ></dvd-input-number>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-button color="primary" label="save" (click)="save()"></dvd-button>
    </dvd-column>
  </dvd-row>
</div>
