<ng-container *ngIf="readonly; else field">
  <dvd-field-readonly
    [label]="label"
    [value]="getStringValue()"
  ></dvd-field-readonly>
</ng-container>

<ng-template #field>
  <div class="component-margin-horizontal" [style.width]="getWidth()">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>{{ label }}</mat-label>
      <input
        #input="ngModel"
        matInput
        type="number"
        [ngModel]="value"
        (ngModelChange)="onChangeValue($event)"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [required]="required"
      />
    </mat-form-field>
  </div>
</ng-template>
