<ng-container *ngIf="readonly; else field">
  <dvd-field-readonly
    [label]="label"
    [value]="getStringValue()"
  ></dvd-field-readonly>
</ng-container>
<ng-template #field>
  <mat-form-field appearance="outline" [style.width]="width">
    <mat-label>{{ label }}</mat-label>
    <input
      #input="ngModel"
      matInput
      type="number"
      [ngModel]="value"
      (ngModelChange)="onChangeValue($event)"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [required]="required"
    />
  </mat-form-field>
</ng-template>
