.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  margin-left: 8px;
}

mat-toolbar {
  z-index: 5;
}

mat-sidenav {
  z-index: 4;
}

mat-sidenav-content {
  z-index: 1;
}
