.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.app-name {
  margin-left: 8px;
}

dvd-banner {
  z-index: 5;
  position: static;
}

mat-toolbar {
  z-index: 6;
  position: static;
}

mat-sidenav {
  z-index: 4;
}

mat-sidenav-content {
  z-index: 1;
}

router-outlet {
  display: block;
}
