<ng-container *ngIf="readonly; else field">
  <dvd-field-readonly
    [label]="label"
    [value]="getSelectedLabel()"
  ></dvd-field-readonly>
</ng-container>

<ng-template #field>
  <div
    class="component-margin-horizontal component-padding-vertical"
    [style.width]="getWidth()"
  >
    <div class="label-container">
      <div class="label">{{ label }}</div>
    </div>
    <mat-radio-group
      #input="ngModel"
      [ngModel]="value"
      (ngModelChange)="onChangeValue($event)"
      [disabled]="disabled"
      [required]="required"
    >
      <mat-radio-button
        *ngFor="let o of options"
        [value]="o[optionValueProperty]"
      >
        {{ o[optionLabelProperty] }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="input.errors?.required"> 入力してください。 </mat-error>
  </div>
</ng-template>
