<div class="page">
  <h1>Field</h1>
  <dvd-row>
    <dvd-column>
      <dvd-button
        color="primary"
        label="すべてdisableにする"
        (click)="disabledAll()"
      ></dvd-button>
    </dvd-column>
    <dvd-column>
      <dvd-button
        color="primary"
        label="すべてreadonlyにする"
        (click)="readonlyAll()"
      ></dvd-button>
    </dvd-column>
    <dvd-column>
      <dvd-button
        color="accent"
        label="リセット"
        (click)="resetDisabledReadonly()"
      ></dvd-button>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-text label="text"></dvd-field-text>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-textarea label="textarea"></dvd-field-textarea>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-number label="number"></dvd-field-number>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-date label="date"></dvd-field-date>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-select label="select"></dvd-field-select>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-radio label="radio"></dvd-field-radio>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-switch label="switch"></dvd-field-switch>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-readonly label="readonly" value="value"></dvd-field-readonly>
    </dvd-column>
  </dvd-row>
  <dvd-divider></dvd-divider>
  <h1>Button</h1>
  <dvd-row>
    <dvd-column>
      <dvd-button color="primary" label="button"></dvd-button>
    </dvd-column>
  </dvd-row>
</div>
