<div class="page">
  <h1>Input</h1>
  <dvd-row>
    <dvd-column>
      <dvd-input-text label="input-text"></dvd-input-text>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-input-textarea label="input-textarea"></dvd-input-textarea>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-input-number label="input-number"></dvd-input-number>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-slide-toggle label="slide-toggle"></dvd-slide-toggle>
    </dvd-column>
  </dvd-row>
  <h1>Button</h1>
  <dvd-row>
    <dvd-column>
      <dvd-button color="primary" label="primary button"></dvd-button>
    </dvd-column>
  </dvd-row>
</div>
