<div class="page">
  <h1>Input</h1>
  <dvd-row>
    <dvd-column>
      <dvd-field-text label="input-text"></dvd-field-text>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-textarea label="input-textarea"></dvd-field-textarea>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-number label="input-number"></dvd-field-number>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-slide-toggle label="slide-toggle"></dvd-slide-toggle>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-date label="datepicker"></dvd-field-date>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-select label="select"></dvd-select>
    </dvd-column>
  </dvd-row>
  <dvd-row>
    <dvd-column>
      <dvd-field-radio label="radio-button"></dvd-field-radio>
    </dvd-column>
  </dvd-row>
  <h1>Button</h1>
  <dvd-row>
    <dvd-column>
      <dvd-button color="primary" label="primary button"></dvd-button>
    </dvd-column>
  </dvd-row>
</div>
