/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  padding: 1.25rem;
}

.component-padding-vertical {
  padding-bottom: 1.34375em;
}

.component-margin-horizontal {
  box-sizing: border-box;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
